@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

header{
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
    background-color: black;
    padding-top: 70px;
    padding-bottom: 50px;
    text-align:center;
}

nav{
    position: fixed;
    width: 100%;
    color: white;
}

button{
    font-size: 100%;
    padding: 0.5em 1em;
    color: rgba(0, 0, 0, 0.80);
    border: none;
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

button:hover{
    color: white;
    background-color: #000;
}

.nav-container{
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: initial;
}

.nav-logo{display: inline-block;}

.nav-logo img{
    width: 50px;
    vertical-align: middle;
    padding-right: 5px;
}

.nav-menu {
    float: right;
    padding-top: 7px;
}

.nav-menu a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

.text-block{
    padding: 20px;
    padding-left:60px;
    padding-right:60px;
    max-width:500px;
    text-align: center;
}

.text-block * {
    text-align: left;
}

.parralax-container{
    position: relative;
}

footer{
    /* font-family: 'Oswald', sans-serif; */
    margin: 0 auto;
    text-align: center;
    /* font-family: 'Railway'; */
}

.footer-main{
    font-family: 'Oswald', sans-serif;
}

.parralax{
    transition: 0s linear;
    transition-property: background-position;
}

.cover-img{
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    max-width: 500px;
    margin: 0 auto;
    line-height: 96.2px;
}

h3{
    font-weight:normal;
    font-size: 16px;
    margin: 0 auto;
    width: 650px;
}

hr{
    border-style: solid;
    border-top-style: none;
}

body{
    margin: 0px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Raleway', sans-serif
}

footer hr{
    width: 20%;
    color: #e6e6e6;
}